@import '../common/_color';

#joinGroup {
    h1 {
        text-align: center;
        font-size: 60px;
        color: $blue;
    }
}

#NearbySearch {
    height: 100%;
    display: flex;
    flex-flow: column;
    margin-top: 20%;

    .bpzdHV {
        display: flex;
        flex-flow: column;

        .hijnLS {
            width: 100%;
            position: relative;
            top: initial;
            box-shadow: none;
            background-color: $blue;
            margin: 20px auto;
            padding: 10px;
            border-radius: 10px;
            box-shadow: $shadow;
            transition: 0.25s;

            &.invalid {
                background-color: $light_red;
            }

            .sc-htpNat {
                width: 100%;
                font-size: 15px;
                padding: 10px;
                color: $white;
                background-color: transparent;

                &:hover {
                    background-color: rgba($black, 0.1);
                }
            }
        }
    }
}