@import '../common/_grid';
@import '../common/_color';

.navbar {
    background-color: transparent !important;

    .navbar-brand {
        font-weight: bold;
        color: $light_blue;

        .navbar-brand-r {
            color: $light_red;
        }
    }
}