@import '../common/_grid';
@import '../common/_color';

.navbar {
    background-color: transparent !important;
    padding: 0 0 10px 0;

    .navbar-brand {
        font-weight: bold;
        font-size: 30px;
        color: $blue !important;
        padding: 0;

        .navbar-brand-r {
            color: $light_red;
        }
    }
}