@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import "./common/_grid";
@import "./common/_color";

* {
    outline-width: 0;
    font-family: "Montserrat";
}

html {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

body,
#root {
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-flow: column;
}

.App {
    flex-grow: 1;
    background-color: $white;
    overflow: hidden;
    background: $colored_gradient;

    #polygonBackground {
        height: 100vh;
        width: 1900px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        & > div {
            background: rgba($white, 0.1);
            position: absolute;
        }

        #polygon1 {
            height: 100%;
            width: 50%;
            clip-path: polygon(18% 1%, 100% 31%, 80% 77%, 0% 99%);
            left: 50%;
            transform: translateX(-50%);
        }

        #polygon2 {
            height: 100%;
            width: 66%;
            clip-path: polygon(0% 1%, 100% 1%, 94% 45%, 2% 1%);
            left: 34%;
        }

        #polygon3 {
            height: 69%;
            width: 40%;
            clip-path: polygon(39% 1%, 96% 25%, 96% 99%, 2% 99%);
            left: 60%;
            top: 31%;
        }

        #polygon4 {
            height: 80%;
            width: 34%;
            clip-path: polygon(18% 1%, 99% 1%, 77% 100%, 0% 60%);
            left: 0;
        }

        #polygon5 {
            height: 52%;
            width: 34%;
            clip-path: polygon(0% 1%, 77% 63%, 72% 99%, 18% 99%);
            left: 0;
            bottom: 0;
        }

        #polygon6 {
            height: 23%;
            width: 42%;
            clip-path: polygon(0% 98%, 95% 4%, 84% 97%, 6% 97%);
            left: 46%;
            transform: translateX(-50%);
            bottom: 0px;
        }
    }
}

/************************** Custom CSS *****************************/
.cursor-pointer {
    cursor: pointer;
}

.colored-text {
    background: -webkit-linear-gradient(
        145deg,
        rgba($dark_red, 1) 0%,
        rgba($dark_blue, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*********************** Bootstrap Redesign ************************/
// input
.text-input {
    width: calc(100% - 60px);
    padding: 10px 20px;
    margin: 0 30px;
    color: $white;
    text-align: center;
    transition: 0.25s;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20px;

    &:hover,
    &:focus {
        width: 100%;
        margin: 0;
    }

    &::placeholder {
        color: inherit;
    }
}

// dropdown
.dropdown {
    button {
        width: calc(100% - 60px);
        padding: 10px 20px;
        margin: 0 30px;
        color: $white;
        text-align: center;
        transition: 0.25s;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        font-size: 20px;
        border-radius: 0;
        position: relative;

        &:hover,
        &:focus,
        &:active {
            width: 100%;
            margin: 0;
            background-color: transparent !important;
            border-color: $white !important;
            box-shadow: none !important;
        }

        &::after {
            position: absolute;
            bottom: 20px;
            right: 10px;
        }
    }

    .dropdown-menu {
        right: 0px;
        background-color: rgba($white, 0.7);
        width: 100%;
        transform: translate3d(0px, 101px, 0px) !important;
    }
}

// toast
.toast {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: none;
    border: none;
    border-radius: unset;
    color: $white;
    background-color: transparent;

    &.show {
        z-index: 2001;
    }

    &.error {
        background-color: $red;
    }

    &.success {
        background-color: $dark_green;
    }

    &.error,
    &.success {
        .toast-header .close {
            opacity: 1;
        }
    }

    .toast-header {
        background-color: transparent;
        border-bottom: none;
        color: $white;
        padding: 10px 10px 0 10px;

        .close {
            opacity: 0;
            color: $white;
        }
    }

    .toast-body {
        padding: 0 10px 10px 10px;
    }
}
