@import './common/_grid';
@import './common/_color';

html,
body,
#root {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

* {
    outline-width: 0;
}

.App {
    max-width: $cont_width;
    margin: auto;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.text-input {
    width: 100%;
    border: 1px solid rgba($black, 0.2);
    border-radius: 25px;
    padding: 10px 20px;
    color: $blue;
    font-size: 20px;

    &:hover,
    &:focus {
        box-shadow: 0 0 6px rgba($black, 0.2);
    }

    &::placeholder {
        color: $blue;
    }
}