@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "_color";

* {
    font-family: 'Montserrat';
}

/******************** Custom SCSS Variables ************************/
$shadow: 0 3px 6px rgba($black, 0.2);
$deep_shadow: 0 5px 10px rgba($black, 0.4);

/************************** Custom CSS *****************************/
.cursor-pointer {
    cursor: pointer;
}