/******************** Color ************************/
// generic
$black: #000;

// white
$dark_white: #ededed;
$white: #fff;
$light_white: #f7f7f7;

// gray
$dark_gray: #616060;
$gray: #7c7c7c;
$light_gray: #c7c7c7;

// blue
$dark_blue: #164863;
$blue: #427d9d;
$light_blue: #ddf2fd;

// red
$red: #fa7070;

// green
$green: #a2c579;

// yellow
$yellow: #f2e852;

/******************** Shadow ************************/
$shadow: 0 3px 6px rgba($black, 0.2);
$deep_shadow: 0 5px 10px rgba($black, 0.4);
