// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// site dimension
$cont_width: 500px;
$cont_height: 1000px;

$background_top: 60%;
$background_top_vh: 60vh;
$background_bottom: 40%;
$background_bottom_vh: 40vh;

$top_nav: 50px;
$outter_padding: 32px;
$top_spacing: $top_nav + $outter_padding;
